// Gutenberg.
.edit-post-visual-editor .all-in-one-music-player-selector-wrap {
  align-items: center;
}

.edit-post-visual-editor .all-in-one-music-player-selector-wrap h3 {
  width: 100%;
  margin: 10px 0 5px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

.edit-post-visual-editor .all-in-one-music-player-selector-wrap img {
	margin-right: 15px;
	height: 100px;
	width: auto;
}

.edit-post-visual-editor .all-in-one-music-player-selector-wrap .components-base-control {
	width: 100%;
}

.edit-post-visual-editor .all-in-one-music-player-selector-wrap .components-placeholder__fieldset {
	justify-content: center;
	align-self: center;
	max-width: 400px;
	flex-direction: row !important;
}

.edit-post-visual-editor .all-in-one-music-player-selector-wrap .components-select-control__input {
	padding: 0 10px;
	height: auto;
}
